  <!DOCTYPE html>
  <html>
  <head>
    <title>The Curator</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/materialize.min.css')}}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="divider">

    </div>  
    <div class="section" style="margin-top: 5%;">
      <div class="row">
        <div class="col s11">
          <center><h3 style='color:#26a69a'>Resource Finder</h3></center>
        </div>
      </div>
      <div class="row">
        <form class="col s12" action="http://localhost:5000/search/" method = "post">
          <div class="row">
            <div class="input-field col s8">
              <input type="text" name="query" value="Enter query here" id = "search_box">
              <label for="query"> Search Query</label>
            </div>
            <div class="input-field col s2">

              <select name='no_of_pages'>
                <option value=1 selected>One</option>
                <option value=2>Two</option>
                <option value=3>Three</option>
              </select>

            </div>
            <div class="col s2">
              <div class="section">
                <center>
                  <button class="btn waves-effect waves-light" type="submit">Search
                    <i class="material-icons right">search</i>
                  </button>
                </center>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="section">  
                <input name="class" type="radio" value=-1 id='o1' checked/>
                <label class='radio' for="o1">All</label>

                <input  name="class" type="radio" id='o2' value=0/>
                <label class='radio' for="o2">Animals</label>

                <input name="class" type="radio" id='o3' value=1/>
                <label class='radio' for="o3">Authors/Poets</label>

                <input name="class" type="radio" id='o4' value=2/>
                <label class='radio' for="o4">English Literature</label>

                <input name="class" type="radio" id='o5' value=3/>
                <label for="o5">Geography</label>

                <input name="class" type="radio" id='o6' value=4/>
                <label class='radio' for="o6">History</label>

                <input name="class" type="radio" id='o7' value=5/>
                <label class='radio' for="o7">Mathematics</label>


                <input name="class" type="radio" id='o8' value=6/>
                <label class='radio' for="o8">Science</label>

                <input name="class" type="radio" id='o9' value=6/>
                <label class='radio' for="o9">Sociology/ Economics/ Politics</label>

              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename = 'js/materialize.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename = 'js/script.js')}}"></script>
</body>
</html>








<!--
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Curator</title>
  <meta name="Sudeep Katakol" content="Custom Search">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}" >
</head>

<body>
<center><h1 style='color:#4885ed'>Resource Finder</h1></center>
<div id='interface'>
	<form id="frm1" action="http://localhost:5000/search/" method = "post">
  		<div id = 'left'>
  			<label for="query"> Search Query: </label>
  		</div> 
  		<div id = 'center'>
  			<input type="text" name="query" value="Enter query here" id = "search_box"><br>
  		</div>
  		<div id = 'right'>
  			<button>Search</button>
  		</div>
        <div id ='left'>
  			Choose a particular subject:
  		</div>
  		<div id = 'center'>
  			<input type="radio" name="class" value=-1 checked> All
  			<input type="radio" name="class" value=0> Animals
  			<input type="radio" name="class" value=1> Authors/Poets
  			<input type="radio" name="class" value=2> English Literature
  			<input type="radio" name="class" value=3> Geography
  			<input type="radio" name="class" value=4> History
  			<input type="radio" name="class" value=5> Math
  			<input type="radio" name="class" value=6> Science
  			<input type="radio" name="class" value=7> Sociology/Economics/Politics
  		</div>
      <div id = 'right'>
        <select name="no_of_pages"> No. of Pages
          <option value=1>One</option>
          <option value=2>Two</option>
          <option value=3>Three</option>
          <option value=4>Four</option>
        </select>
      </div>
	</form>
</div>

</body>
</html>
-->